Global Styles body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.page-container {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* .search-field {
  margin-bottom: 20px;
  width: 100%; */
/* } */

.TableContainer {
  margin-top: 20px;
}

.TableHead {
  background-color: #e0e0e0;
}

.TableCell {
  font-weight: bold;
}

.action-button {
  margin-right: 10px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.action-button-cancel {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.action-button-receive {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.action-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 600px) {
  .page-container {
    padding: 10px;
  }
}
.filter-button {
  margin-right: 10px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.filter-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-form-control {
  min-width: 120px;
  margin-right: 20px;
}

.MuiDialog-paperWidthSm {
  width: 300px;
}

.MuiDialogTitle-root {
  background-color: #5bc0de;
  color: #fff;
}

.MuiDialogActions-root {
  justify-content: space-between;
  padding: 16px;
  background-color: #f8f8f8;
}

.MuiButton-textPrimary {
  color: #d9534f;
}

.MuiButton-textPrimary:hover {
  color: #fff;
  background-color: #5bc0de;
}
